{% extends 'base.html' %}
{% load bootstrap4 django_tables2 crispy_forms_tags %}
{% block content%}
  <h2 class="text-center">Commande N° {{ commande.id }}</h2>
  <p class="text-center"> Client: {{ commande.client }} </p>
  <br><br>
    <hr>

    <div class="container">
  <!-- on affiche un bouton pour ajouter une ligne facture -->
        <form method="post" action="{{ confirmer_url}}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="{{ option }}"/>
        </form>
{#      <a href="{{ confirmer_url}}" class="btn btn-primary">{{ option }}</a>#}
      <br><br>
      <!-- on affiche les lignes de la facture -->
        {% render_table table %}
    </div>
{% endblock %}
