<ul class="nav list-group">
	<li>
    	<a class="list-group-item" href="{% url 'client_list' %}">Clients</a>
	</li>
	<li>
    	<a class="list-group-item" href="{% url 'produit_list' %}">Produits</a>
	</li>
	<li>
		<!--a class="list-group-item"  href="">Commandes</a-->
	</li>
	<li>
		<!--a class="list-group-item"  href="">Facturation</a-->
	</li>
	<li>
    	<a class="list-group-item" href="{% url 'fournisseur_list' %}">Fournisseurs</a>
	</li>
	<li>
    	<a class="list-group-item" href="{% url 'dashboard' %}">dashboard</a>
	</li>
	
</ul>
